@charset "UTF-8";

/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}
header > h2 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 6vw;
}
header > p {
    padding-bottom: 1em;
}

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(51, 51, 51);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.51);
    color: white;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.512);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.555);
    padding: 10px;
}
section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
section#img02 {
    background-image: url(imagens/background002.jpg);
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
